@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
body {
  font-family: "游ゴシック対", YuGothic, serif;
  line-height: 1.1875;
  font-size: 16px;
  letter-spacing: 0.4pt;
  color: #3E3E3E;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  line-height: 1;
}

.main {
  background: #F3F3F3;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 83px;
  background: #FFFFFF1A;
  z-index: 100;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    background: #FFFFFF;
  }
}
.header.is-open {
  position: block;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .header-inner {
    display: block;
    padding: 0 16px;
  }
}

.header-title-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-title-sp {
    display: block;
    font-weight: 700;
    font-size: 23px;
    line-height: 68px;
    font-family: "Montserrat", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    padding: 90px 0;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.header-nav-item {
  letter-spacing: -0.4px;
  line-height: 83px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    margin-top: 40px;
    text-align: center;
  }
  .header-nav-item:nth-child(6) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-nav-item:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header-nav-item:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header-nav-item:nth-child(7) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
.header-nav-item + .header-nav-item {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .header-nav-item + .header-nav-item {
    text-align: center;
    margin: 0;
  }
}

.header-nav-item-link {
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .header-nav-item-link {
    font-size: 18px;
    height: 54px;
  }
}
.header-nav-item-link:hover {
  padding-bottom: 5.5px;
  border-bottom: 1px solid #3E3E3E;
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3E3E3E;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: none;
}
#modal.modal-on {
  opacity: 0.7;
  display: block;
}

.drawer-hamburger {
  position: fixed;
  top: 10px;
  z-index: 400;
  background: url(../img/PC/hamburger.png) no-repeat center center/26px;
}
.drawer-hamburger.is-open {
  background: url(../img/PC/batsu@2x.png) no-repeat center center/26px;
}
.drawer-hamburger .drawer-hamburger-icon {
  display: none;
}

.drawer-nav {
  width: 300px;
  z-index: 105;
}

.drawer--right .drawer-nav {
  right: -19rem;
}

@media screen and (min-width: 768px) {
  .header-nav-md .header-nav-list-md {
    display: none;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 18.6rem;
}

.top {
  position: relative;
}

.top-picture {
  background: url(../img/PC/mv.png) no-repeat center center/cover;
  height: 649px;
}
@media screen and (max-width: 767px) {
  .top-picture {
    background: url(../img/PC/mv.png) no-repeat left 22% center/cover;
    height: 667px;
  }
}

.top-message {
  position: absolute;
  top: 228px;
  right: 0;
  padding-right: 40px;
  max-width: 640px;
}
@media screen and (max-width: 767px) {
  .top-message {
    padding: 0 16px 0;
    top: 222px;
  }
}

.top-message-title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.02px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .top-message-title {
    font-size: 24px;
    line-height: 1.667;
  }
}

.top-message-text {
  padding-top: 29px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.555;
}
@media screen and (max-width: 767px) {
  .top-message-text {
    font-size: 14px;
    letter-spacing: 0;
    padding-top: 20px;
  }
}

.top-btn {
  display: block;
  color: #FFFFFF;
  text-align: center;
  background: #FFAA3B;
  -webkit-box-shadow: 0px 3px 5px #3E3E3E33;
          box-shadow: 0px 3px 5px #3E3E3E33;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 36px;
}
@media screen and (min-width: 768px) {
  .top-btn {
    width: 282px;
    height: 50px;
    line-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .top-btn {
    width: 222px;
    margin: 25px auto;
    font-size: 16px;
    letter-spacing: 0;
    padding: 14px 30px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    height: 574px;
    position: relative;
  }
}

.news_inner {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}
@media screen and (min-width: 768px) {
  .news_inner {
    margin: 120px 0;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .news_inner {
    position: absolute;
    top: -39px;
    left: 0px;
    margin: 0 16px;
  }
}

.news-head {
  padding-top: 63px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .news-head {
    padding: 43px 0;
  }
}

@media screen and (min-width: 768px) {
  .news-items {
    margin: 64px 60px 43px;
  }
}

.news-item {
  padding: 38px 0;
  border-bottom: solid 1px #CECDCD;
}
.news-item:nth-child(1) {
  border-top: solid 1px #CECDCD;
}
@media screen and (max-width: 767px) {
  .news-item {
    padding: 13px 0 10px 16px;
  }
}
.news-item:hover {
  background: #4973FF1A;
}

.news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .news-item-link {
    display: block;
    position: relative;
  }
  .news-item-link::after {
    content: "";
    position: absolute;
    background: url(../img/PC/news-arrow.png) no-repeat center center/contain;
    width: 13px;
    height: 100%;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.news-meta {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-date {
  letter-spacing: 0.45px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .news-date {
    font-size: 14px;
  }
}

.news-text {
  display: inline-block;
  margin: 0 39px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.35px;
}
@media screen and (max-width: 767px) {
  .news-text {
    font-size: 12px;
    width: 80px;
    height: 20px;
    margin: 0 23px;
    line-height: 18px;
    position: relative;
  }
}

.news-content {
  line-height: 1.555;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-size: 18px;
  padding-right: 83px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .news-content::after {
    content: "";
    position: absolute;
    background: url(../img/PC/news-arrow.png) no-repeat center center/contain;
    width: 13px;
    height: 100%;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media screen and (max-width: 767px) {
  .news-content {
    font-size: 14px;
    line-height: 1.4286;
    padding: 10px 55px 0 0;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767px) {
  .news-btn {
    padding: 40px 0;
  }
}

.news-btn-link {
  font-family: "Montserrat", sans-serif;
  display: block;
  width: 236px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  font-size: 20px;
  color: #3E3E3E;
  letter-spacing: 5.2px;
  text-align: center;
  border: 1px solid #707070;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 767px) {
  .news-btn-link {
    width: 268px;
    height: 54px;
    line-height: 54px;
    margin: 40 auto;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3.6px;
  }
}
.news-btn-link:hover {
  background: #3E3E3E;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .service {
    height: 870px;
  }
}

.service-inner {
  margin: 0 0 215px;
  background: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .service-inner {
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .service-inner {
    height: 480px;
  }
}

.service-link:hover {
  padding-bottom: 5.5px;
  border-bottom: 1px solid #3E3E3E;
}

.service-head {
  text-align: center;
  color: #FFFFFF;
  padding: 65px 0;
}
@media screen and (max-width: 767px) {
  .service-head {
    padding: 43px 0;
  }
}

.service-items {
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}
@media screen and (min-width: 768px) {
  .service-items {
    width: 75%;
    margin: 0 auto;
    height: 330px;
  }
}
@media screen and (max-width: 767px) {
  .service-items {
    display: block;
    max-width: 100%;
    margin: 0px 16px;
    padding: 40px 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .service-item {
    padding: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .service-item {
    padding-bottom: 21px;
  }
}

.service-img {
  display: block;
  height: 64px;
  width: 64px;
  margin: 0 auto;
  position: relative;
}
.service-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 7px;
}

.service-body {
  margin: 0 auto;
  color: #3E3E3E;
}

.service-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 1.4;
  padding-top: 4px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .service-title {
    line-height: 1.2;
    padding-top: 7px;
  }
}

.service-text {
  font-size: 14px;
  line-height: 1.714;
  padding: 16px 46px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .service-text {
    padding: 16px 0;
  }
}

.results {
  background: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .results {
    margin-left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .results {
    padding-bottom: 40px;
  }
}

.results-head {
  padding: 65px 59px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .results-head {
    text-align: center;
    padding: 44px 0;
  }
}

.results-container {
  margin-left: 60px;
}
@media screen and (max-width: 767px) {
  .results-container {
    margin-left: 16px;
  }
}

.results-link {
  display: block;
  background: #FFFFFF;
  color: #3E3E3E;
}

.results-body {
  padding: 16px;
}
@media screen and (max-width: 767px) {
  .results-body {
    padding: 12px;
  }
}

.results-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .results-title {
    font-size: 14px;
  }
}

.results-text {
  padding-top: 8px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .results-text {
    font-size: 12px;
    letter-spacing: 0.1px;
  }
}

.results-btn {
  max-width: 100%;
}

.result-btn-link {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  color: #fff;
  border: solid 1px #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .result-btn-link {
    padding: 20px 80px;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 60px 60px;
  }
}
@media screen and (max-width: 767px) {
  .result-btn-link {
    font-style: 18px;
    letter-spacing: 3.6pt;
    display: block;
    width: 316px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
}
.result-btn-link:hover {
  background: #FFFFFF;
  color: #3E3E3E;
}

.swiper-pagination {
  text-align: left;
  position: static;
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  .swiper-pagination {
    text-align: center;
    padding: 25px 15px 23px 0;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  background: #FFF;
  display: inline-block;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  position: relative;
  z-index: 10;
}
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px #fff;
}

.price {
  padding: 125px 160px;
}
@media screen and (max-width: 767px) {
  .price {
    padding: 43px 15px 60px;
  }
}

.price-head {
  text-align: center;
  padding-bottom: 61px;
}
@media screen and (max-width: 767px) {
  .price-head {
    padding-bottom: 43px;
  }
}

.price__table {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-collapse: collapse;
  background: #fff;
  font-size: 24px;
  letter-spacing: 0;
  width: 100%;
}
.price__table th, .price__table td {
  border: 1px solid #707070;
}
@media screen and (max-width: 767px) {
  .price__table th, .price__table td {
    font-size: 20px;
  }
}
.price__table th {
  color: #fff;
  width: 27.3%;
  background: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .price__table th {
    width: 29%;
  }
}
.price__table td {
  width: 72.7%;
  padding: 18px 0 18px 40px;
}
@media screen and (max-width: 767px) {
  .price__table td {
    padding: 18px 0 16px 21px;
  }
}

.price-attention {
  padding-top: 10px;
  font-size: 11px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .price-attention {
    font-size: 12px;
  }
}

.comments {
  padding: 0 40px 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .comments {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 423px;
    background: #3E3E3E;
    position: relative;
  }
}

.comment-background {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  padding-top: 45%;
  width: 76.56%;
  background: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .comment-background {
    width: 100%;
    bottom: 69px;
    padding-top: 113%;
    z-index: 0;
  }
}

.comments-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55.5%;
          flex: 0 1 55.5%;
  padding: 120px 60px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px #00000029;
          box-shadow: 0px 0px 10px #00000029;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .comments-left {
    position: absolute;
    width: 91.5%;
    padding: 42px 19.2px;
    top: -62px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .comment-container {
    padding-top: 42px;
  }
  .comment-container + .comment-container {
    padding-top: 34px;
  }
}

.comment-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}
@media screen and (max-width: 767px) {
  .comment-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
}

.comment-text {
  padding-left: 32px;
  line-height: 1.5;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .comment-text {
    padding-left: 21px;
    line-height: 1.42857;
    font-size: 14px;
  }
}

.comment-right {
  z-index: 5;
}

.qa__inner {
  width: 100%;
  background: url(../img/PC/qa-bg.png) no-repeat center center/cover;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .qa__inner {
    padding-bottom: 66px;
  }
}

.qa__head {
  padding: 64px 0;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .qa__head {
    padding: 44px 0;
  }
}

.qa__items {
  padding: 0 40px;
  width: 54%;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .qa__items {
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
  }
}

.qa__item {
  background: #fff;
  border-radius: 4px;
  padding: 18px 16px 16px;
}
.qa__item + .qa__item {
  margin-top: 34px;
}
@media screen and (max-width: 767px) {
  .qa__item + .qa__item {
    margin-top: 25px;
  }
}

.qa-box__q {
  font-weight: 700;
  padding-left: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .qa-box__q {
    font-size: 16px;
  }
}
.qa-box__q::before {
  content: "Q";
  color: white;
  position: absolute;
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #3B69FF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.qa-box__icon.is-open .qa__bar1 {
  display: none;
}
.qa-box__icon.is-open .qa__bar2 {
  display: block;
}

.qa__bar1 {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url(../img/PC/plus.png) no-repeat center center/contain;
}

.qa__bar2 {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url(../img/PC/minus.png) no-repeat center center/contain;
  display: none;
}

.qa-box__a {
  margin-top: 18px;
  padding: 13px 16px;
  background: #3B69FF33;
  border-radius: 4px;
  line-height: 1.5;
  display: none;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .qa-box__a {
    padding: 9px 13px;
  }
}
.qa-box__a.is-open {
  display: block;
}

.access {
  position: relative;
  color: #fff;
  padding: 125px 40px 118px 100px;
}
@media screen and (max-width: 767px) {
  .access {
    padding: 43px 16px 44px;
  }
}

.access-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: #3E3E3E;
  width: 76.56%;
  height: 504px;
}
@media screen and (max-width: 767px) {
  .access-bg {
    width: 100%;
    height: 574px;
  }
}

.access-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .access-inner {
    display: block;
  }
}

.access-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.32%;
          flex: 0 1 36.32%;
  z-index: 5;
  letter-spacing: 0;
}

.access-address {
  padding-top: 60px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .access-address {
    padding-top: 39px;
    font-size: 14px;
  }
}

.access-btn {
  color: #fff;
  display: none;
  border: 1px solid #FFFFFF;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .access-btn.is-pc {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 28px;
    padding: 20px 80px;
  }
}
@media screen and (max-width: 767px) {
  .access-btn.is-sp {
    display: block;
    font-size: 18px;
    line-height: 54px;
    margin-top: 0px;
    width: 100%;
    letter-spacing: 1.8px;
    padding: 0;
    text-align: center;
    height: 54px;
  }
}
.access-btn:hover {
  background: #FFFFFF;
  color: #3E3E3E;
}

.access-map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 63.68%;
          flex: 0 1 63.68%;
}
@media screen and (max-width: 767px) {
  .access-map {
    padding: 20px 0;
  }
}

.iframe__wrap {
  width: 100%;
  padding-top: 71.625%;
  position: relative;
}
.iframe__wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  background: url(../img/PC/contact-bg.png) no-repeat center center/cover;
  padding: 60px 160px;
}
@media screen and (max-width: 767px) {
  .contact {
    background: url(../img/PC/contact-bg.png) no-repeat center center/cover;
    padding: 54px 16px 40px;
  }
}

.contact-head {
  background: url(../img/PC/contact1.png) no-repeat center center/cover;
  color: #fff;
  padding: 63px 63px 58px;
  border-radius: 12px 12px 0 0;
}
@media screen and (max-width: 767px) {
  .contact-head {
    padding: 44px 16px 41px;
    background: url(../img/PC/contact1.png) no-repeat center center/cover;
  }
}

.contact-head-title {
  text-align: center;
}

.contact-head-text {
  padding-top: 20px;
  letter-spacing: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact-head-text {
    font-size: 14px;
    padding-top: 15px;
  }
}

.contact-form-list {
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding: 60px 120px 60px 70px;
}
@media screen and (max-width: 767px) {
  .contact-form-list {
    padding: 40px 12px 24px;
  }
}

.contact-form {
  padding-left: 50px;
}
@media screen and (max-width: 767px) {
  .contact-form {
    padding-left: 0;
  }
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .contact-item {
    display: block;
  }
}
.contact-item + .contact-item {
  margin-top: 29px;
}
@media screen and (min-width: 768px) {
  .contact-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-item:last-child {
    display: block;
  }
  .contact-item dt {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 26.1%;
            flex: 0 1 26.1%;
  }
  .contact-item dd {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 73.9%;
            flex: 0 1 73.9%;
  }
}

.contact-form__label {
  font-weight: 700;
}
.contact-form__label label.is_required {
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact-form__label label.is_required {
    padding-right: 52px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form__label label.is_required {
    padding-right: 44px;
  }
}
.contact-form__label label.is_required::after {
  content: "必須";
  position: absolute;
  font-weight: 700;
  font-size: 12px;
  padding: 2px 8px;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FF4646;
  border-radius: 2px;
  color: #fff;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact-form__label label.is_required::after {
    right: -15px;
  }
}

.contact-form__input {
  margin: 0;
  padding: 0;
}
.contact-form__input select {
  color: #3E3E3E;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  width: 100%;
  padding: 11px 40px 11px 11px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media screen and (max-width: 767px) {
  .contact-form__input select {
    max-width: 100%;
    font-size: 14px;
  }
}
.contact-form__input select:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px #4973FF80;
          box-shadow: 0px 0px 5px #4973FF80;
}
.contact-form__input [type=text] {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #707070;
  opacity: 0.5;
  line-height: 32px;
  padding-left: 12px;
  font-size: 16px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .contact-form__input [type=text] {
    padding: 0;
    line-height: 1.7143;
    font-size: 14px;
    margin-top: 10px;
  }
}
.contact-form__input [type=text]:hover, .contact-form__input [type=text]:focus {
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0px 5pt 4pt -4pt #4973FF80;
          box-shadow: 0px 5pt 4pt -4pt #4973FF80;
}
.contact-form__input textarea {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 200px;
  margin-top: 4px;
  color: inherit;
  font-family: inherit;
}
@media screen and (max-width: 767px) {
  .contact-form__input textarea {
    margin-top: 13px;
    height: 160px;
  }
}
.contact-form__input textarea:hover, .contact-form__input textarea:focus {
  outline: 0;
  cursor: pointer;
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0pt 0pt 8pt #4973FF80;
          box-shadow: 0pt 0pt 8pt #4973FF80;
}

.select-wrap {
  max-width: 178px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .select-wrap {
    max-width: 100%;
    margin-top: 12px;
    letter-spacing: 0px;
  }
}
.select-wrap::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 44%;
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
  right: 16px;
  border-top: 2px solid #3E3E3E;
  border-left: 2px solid #3E3E3E;
}

.contact-form-radio [type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact-form-radio span {
  display: inline-block;
  margin-right: 34px;
  padding-left: 20px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .contact-form-radio span {
    margin: 15px 34px 0 0;
  }
}
.contact-form-radio span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #707070;
  background: #fff;
}
.contact-form-radio span::after {
  content: "";
  position: absolute;
  background: #3B69FF;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
.contact-form-radio span:hover {
  cursor: pointer;
}
.contact-form-radio span:hover::before {
  border: 1px solid #3B69FF;
  -webkit-box-shadow: 0pt 0pt 6pt #4973FF33;
          box-shadow: 0pt 0pt 6pt #4973FF33;
}
.contact-form-radio span:active::before {
  background: #4973FF33;
}
.contact-form-radio [type=radio]:checked + span::after {
  display: block;
}

.contact-radio-label {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-footer {
  margin-top: 38px;
}
@media screen and (max-width: 767px) {
  .contact-footer {
    margin-top: 28px;
  }
}

.contact-footer-text {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .contact-footer-text {
    font-size: 16px;
  }
}
.contact-footer-text [type=checkbox] {
  display: none;
}
.contact-footer-text [type=checkbox]:checked + span::after {
  display: block;
}
.contact-footer-text span {
  padding-left: 40px;
  position: relative;
}
.contact-footer-text span::before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #707070;
}
@media screen and (max-width: 767px) {
  .contact-footer-text span::before {
    width: 16px;
    height: 16px;
  }
}
.contact-footer-text span::after {
  position: absolute;
  content: "";
  height: 8px;
  width: 17px;
  border-left: solid 2px #3B69FF;
  border-bottom: solid 2px #3B69FF;
  left: 1px;
  top: 38%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  display: none;
}
.contact-footer-text span:hover {
  cursor: pointer;
}
.contact-footer-text span:hover::before {
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0pt 0pt 5pt #4973FF33;
          box-shadow: 0pt 0pt 5pt #4973FF33;
}
.contact-footer-text span:active::before {
  background: #4973FF33;
}

.util-link {
  display: block;
  color: #fff;
  background: #FFAA3B;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  padding: 14px 50px;
  -webkit-box-shadow: 0px 3px 5px #00000033;
          box-shadow: 0px 3px 5px #00000033;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .util-link {
    margin: 34px auto 17px;
    font-size: 16px;
  }
}

.footer {
  background: #3E3E3E;
}

.footer-container {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer-container {
    padding: 55px 160px 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer-container-left {
    text-align: center;
  }
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-sns-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 55px;
  }
}

.footer-sns-item + .footer-sns-item {
  padding-left: 32px;
}
@media screen and (max-width: 767px) {
  .footer-sns-item + .footer-sns-item {
    padding-left: 50px;
  }
}

.footer-sns-item-link {
  font-size: 39px;
  color: #fff;
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .footer-sns-item-link {
    font-size: 39px;
  }
}

.footer-item-list {
  margin-top: 34px;
}
@media screen and (max-width: 767px) {
  .footer-item-list {
    font-size: 14px;
  }
}

.footer-item + .footer-item {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .footer-item + .footer-item {
    margin-top: 24px;
  }
}

.footer-nav-link {
  color: #fff;
}

.footer-container-right {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .footer-container-right {
    text-align: center;
    margin: 43px auto;
  }
}

.footer-title {
  margin-top: 10px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .footer-title {
    font-size: 32px;
  }
}

.footer-text {
  color: #fff;
  opacity: 60%;
  letter-spacing: 0.3px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: right;
  margin-top: 14px;
}
@media screen and (max-width: 767px) {
  .footer-text {
    text-align: center;
  }
}

.to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 13px;
    width: 50px;
    height: 50px;
  }
}